@import "../constants/variable";


.primaryBtn {
    @include fontStyle(
      $fontFamily: $font_Inter,
      $size: $font14,
      $weight: $semiBoldFont,
      $lineHeight: $lineHeight16
    );
    background: $bright_cyan;
    color: $primaryBlue;
    @include transitionForAll($time: 0.4s, $transProp: ease-out);
    padding: 10px 16px;
    outline: none;
    text-align: center;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-transform: capitalize;
    width: max-content;
    &:hover,
    &:focus,
    &:active {
      @include transitionForAll($time: 0.3s, $transProp: ease-in);
      outline: none;
      background: $green;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16),
        0px 2px 16px rgba(0, 0, 0, 0.24);
    }
    &.Mui-disabled {
      color: $primaryBlue;
    }
    &.disabledBtn {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
    &.smallBtn {
      padding: 4px 8px;
    }
    &.submitBtn {
      width: 100%;
      box-sizing: border-box;
    }
    &.deleteBtn {
      background: $color_error_bg;
      color: $red;
    }
  }

  .secondaryBtn {
    @include fontStyle(
      $fontFamily: $font_Inter,
      $size: $font14,
      $weight: $semiBoldFont,
      $color: $white,
      $lineHeight: $lineHeight16
    );
    background: $primaryBlue;
    @include transitionForAll($time: 0.4s, $transProp: ease-out);
    padding: 10px 16px;
    outline: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    text-transform: capitalize;
    width: max-content;
    &:hover,
    &:focus,
    &:active {
      background: $primaryBlue;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16),
        0px 2px 16px rgba(0, 0, 0, 0.24);
      @include transitionForAll($time: 0.3s, $transProp: ease-in);
      outline: none;
    }
    &.Mui-disabled {
      color: $white;
    }
    &.disabledBtn {
      opacity: 0.4;
      cursor: not-allowed;
      pointer-events: none;
    }
    &.smallBtn {
      padding: 4px 8px;
    }
    &.submitBtn {
      width: 100%;
      box-sizing: border-box;
    }
  }

  .tertiaryBtn {
    @include fontStyle(
      $fontFamily: $font_Inter,
      $size: $font14,
      $weight: $semiBoldFont,
      $color: $ash_green,
      $lineHeight: $lineHeight16
    );
    @include transitionForAll($time: 0.4s, $transProp: ease-out);
    padding: 8px 16px;
    outline: none;
    text-align: center;
    display: inline-block;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    text-transform: capitalize;
    background: transparent;
    width: max-content;
    &:hover,
    &:focus,
    &:active {
      @include transitionForAll($time: 0.3s, $transProp: ease-in);
      outline: none;
      background: $background1;
    }
    &.Mui-disabled {
      color: $ash_green;
    }
    &.disabledBtn {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  .outlinedBtn {
    @include fontStyle(
      $fontFamily: $font_Inter,
      $size: $font14,
      $weight: $semiBoldFont,
      $color: $green,
      $lineHeight: $lineHeight16
    );
    background: $white;
    border: 1px solid $green;
    @include transitionForAll($time: 0.4s, $transProp: ease-out);
    padding: 10px 16px;
    outline: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    text-transform: capitalize;
    width: max-content;
    &:hover,
    &:focus,
    &:active {
      @include transitionForAll($time: 0.3s, $transProp: ease-in);
      outline: none;
      background: $green;
      color: $white;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16),
        0px 2px 16px rgba(0, 0, 0, 0.24);
      .hoverImg {
        display: inline-block;
      }
      .defaultImg {
        display: none;
      }
    }
    &.Mui-disabled {
      color: $green;
    }
    &.disabledBtn {
      opacity: 0.5;
      cursor: not-allowed !important;
      pointer-events: none;
    }

    &.removeBtn {
      color: $red;
      border: 1px solid $red;
      background: $white;
    }
    &.smallBtn {
      padding: 4px 8px;
      font-size: $font12;
      line-height: $lineHeight16;
      span {
        position: relative;
        top: 1px;
      }
    }
    &.submitBtn {
      width: 100%;
      box-sizing: border-box;
    }
    .hoverImg {
      display: none;
    }
    & img,
    & span {
      vertical-align: middle;
    }
    &.midBlack {
      color: $mid_black;
      border: 1px solid $mid_black;
      background: $ivory;
      &:hover {
        background: $ivory;
        color: $mid_black;
      }
    }
  }



  /*  BUTTONS  */
.neuomorphicBtn {
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: $shadow;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;

  &__primary {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background: $primaryBlue;
 
    color: $MgreyLight1;

    &:hover { color: $Mwhite }
    &:active {
      box-shadow:inset .2rem .2rem 1rem $gray90, 
             inset -.2rem -.2rem 1rem $gray40;
    }
  }

  &__secondary {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    color: $MgreyDark;
    &:hover { color: $Mprimary; }
    &:active {
      box-shadow: $inner-shadow;
    }
  }

  p { 
    font-size: 1.6rem;
  }
}