@import "./bootstrap.css";
@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }
  100% {
    transform: translateY(0px);
  }
}
.heading1 {
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-weight: 600;
  color: #013440;
  line-height: 96px;
  word-break: break-word;
  white-space: pre-wrap;
}
.heading1.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.heading2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #013440;
  line-height: 72px;
  word-break: break-word;
  white-space: pre-wrap;
}
.heading2.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.heading3 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #013440;
  line-height: 54px;
  word-break: break-word;
  white-space: pre-wrap;
}
.heading3.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.heading4 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #013440;
  line-height: 36px;
  word-break: break-word;
  white-space: pre-wrap;
}
.heading4.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.heading5 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 27px;
  word-break: break-word;
  white-space: pre-wrap;
}
.heading5.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.heading6 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  line-height: 24px;
  word-break: break-word;
  white-space: pre-wrap;
}
.heading6.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.heading7 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 21px;
  word-break: break-word;
  white-space: pre-wrap;
}
.heading7.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}
.heading7.boldFont {
  font-weight: 600;
}

.subheading {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #013440;
  line-height: 24px;
  word-break: break-word;
  white-space: pre-wrap;
}
.subheading.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.paragraph {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #013440;
  line-height: 21px;
  word-break: break-word;
  white-space: pre-wrap;
}
.paragraph.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}
.paragraph.italic {
  font-style: italic;
}
.paragraph.boldFont {
  font-weight: 600;
  color: #4d7179;
}

.supportText {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  line-height: 18px;
  word-break: break-word;
  white-space: pre-wrap;
}
.supportText.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}
.supportText.medium {
  font-weight: 500;
}

.supportTextGray {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #ADB5BD;
  line-height: 18px;
  word-break: break-word;
  white-space: pre-wrap;
}
.supportTextGray.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}
.supportTextGray.warning {
  color: #eb5757;
}
.supportTextGray.success {
  color: #02b57f;
}

.supportTextSemiBold {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #013440;
  line-height: 18px;
  word-break: break-word;
  white-space: pre-wrap;
}
.supportTextSemiBold.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.supportTextMedium {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #bababa;
  line-height: 18px;
  word-break: break-word;
  white-space: pre-wrap;
}
.supportTextMedium.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.metadata {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  line-height: 16px;
  word-break: break-word;
  white-space: pre-wrap;
}
.metadata.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #4f5834;
  line-height: 24px;
  cursor: default;
}
.label.linkText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.flexCentered {
  display: flex;
  display: -webkit-flex;
  flex-flow: wrap;
  -webkit-flex-flow: wrap;
  align-items: center;
}
.flexCentered:before, .flexCentered:after {
  width: 0;
}
.flexCentered.justifyContentEnd {
  justify-content: flex-end;
}

.flexNotCentered {
  display: flex;
  display: -webkit-flex;
  flex-flow: wrap;
  -webkit-flex-flow: wrap;
}
.flexNotCentered:before, .flexNotCentered:after {
  width: 0;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }
  100% {
    transform: translateY(0px);
  }
}
.homePage {
  position: fixed;
  bottom: 0px;
  right: 16px;
  z-index: 99999;
  min-width: 480px;
}
.homePage .homeContainer {
  height: 100%;
  padding: 8px 8px;
  background: #000427;
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px 0px 10px 0px rgba(244, 109, 156, 0.5);
}

.rotateImage {
  transform: rotate(180deg);
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }
  100% {
    transform: translateY(0px);
  }
}
.transactionContainer {
  height: 600px;
  background: #000427;
  border-radius: 12px 12px 0px 0px;
  box-shadow: 0px 0px 10px 0px rgba(244, 109, 156, 0.5);
}

.transactionBox {
  background-color: #111929;
  border-radius: 8px;
  padding: 16px;
  max-height: 300px;
  overflow-y: scroll;
}
.transactionBox::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
.transactionBox::-webkit-scrollbar-track {
  border-radius: 9999px;
  background: #ececec;
}
.transactionBox::-webkit-scrollbar-thumb {
  background: #8f98a4;
  border-radius: 9999px;
}

.transactionColumn {
  padding: 12px 0px;
  width: 100%;
  border-bottom: 1px solid #2B3743;
}
.transactionColumn:first-child {
  padding-top: 0px;
}
.transactionColumn:last-child {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.walletBox {
  background-color: #111929;
  border-radius: 8px;
  padding: 16px;
}

.walletContainer {
  padding-top: 4px;
}
.walletContainer .walletHeader {
  padding-bottom: 16px;
}
.walletContainer .walletBody .walletBalance {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;
}
.walletContainer .walletBody .walletBalance .walletItem {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.walletContainer .walletBody .walletBalance .walletItem:first-child {
  border-right: 1px solid #2B3743;
}

@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");
}
.cursorPointer {
  cursor: pointer;
}